div.header {

  background-color: seagreen;
  height: 100px;
}
footer {
  position: absolute;
  bottom: 0;
  text-align: center;
}

div.main_note {
  display: flex;
margin :30px;
text-align: center;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
width: 40%;

}

div.main_note:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

div.note {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
width: 40%;
padding: 2px 16px; 
margin: 50px; 
width: 300px;
}
div.note:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cursor{
  cursor: pointer;
}
.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
  .Modal {
      width: 500px;
      left: calc(50% - 250px);
  }
}